.sidenav {
    height: 100%;
    width: 267px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0f1f2e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow: scroll;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #competitorsSideNavNamesHolder > li {
      color: white;
      margin-left: 40px;
      font-size: 20px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr:nth-child(1){
    font-weight: bold;
  }

  .tile {
     border-color: white;
     border-style: solid;
     width: 300px;
     height: 180px;
     margin: 30px;
     margin-left: 20%;
     background-color: #4a0c30;
     border-radius: 8px;
  } 

  .tile > div  {
    height: 40px;
    border-color: white;
    border-bottom-style: solid;
  }

  .tile > div > a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }

  .tile > span {
    color: #e3e3e3;
    text-align: justify;
    display: block;
    font-size: 15px;
    margin: 10px;
  }

  .modal-header {
    background-color: #ededed;
  }


  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://firebasestorage.googleapis.com/v0/b/competitiors-tracker.appspot.com/o/images%2FsportsRio.jpg?alt=media&token=643ac491-e021-4a82-8465-5d74c4c4ae67");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
  }

  #whenSignedIn, #whenSignedOut{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/competitiors-tracker.appspot.com/o/images%2Fblue.jpg?alt=media&token=8a4edd34-7f47-4af9-a3ef-35a872279eb4");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #competitorsSideNavNamesHolder > li:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .modal-content {
    height: 100%;
  }

  .modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}